li {
    display: inline;
    margin: 0 10px;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
nav {
    background-color: #54cc78;
    padding: 10px;
}
a {
    text-decoration: none;
    color: white;
}